body {
	width:800px; 
	margin-left:auto; 
	margin-right:auto;
}
#encabezado table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid black;
	font-size: 18px;
	font-weight: bold;
	font-family: sans-serif;

}
#encabezado td {
	width: 50%;
	text-align: center;
	size: 20px; 
	border: 1px solid black;
}
#busca table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid black;
}
#busca td, th {
	width: 25%;
	text-align: center;
	size: 20px; 
	border: 1px solid black;
}
#boton {
	cursor: pointer;
	border-radius: 10px;
	width: 100%;
	height: 50px;
	font-size: 16px;
	color:  white;
	background-color: #fa6464;

}
#map {
	width: 800px; 
	height: 500px;
}
