body {
	width:800px; 
	margin-left:auto; 
	margin-right:auto;
}
#encabezado table {
	border-collapse: collapse;
	width: 800px;
	border: 1px solid black;
	font-size: 18px;
	font-weight: bold;
	font-family: sans-serif;

}
#encabezado td {
	width: 50%;
	text-align: center;
	size: 20px; 
	border: 1px solid black;
}
#estadisticas table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid black;
}
#estadisticas td{
	width: 50%;
	text-align: left;
	size: 20px; 
	border: 1px solid black;
}

#map {
	width: 800px; 
	height: 500px;
}
